.container {
    width: 100%;
    overflow-x: clip;
}

.header{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 1rem;
    padding: 0.75rem 2rem;
    position: sticky;
    top: 0rem;
    z-index: 20;
    background-color: #f0f0f0;
    border-bottom: 2px solid #00796b;
}

.icon {
    fill: #00796b;
    stroke: #00796b;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.titleTop {
    margin: 0;
    font-size: 1.1rem;
    color: #555;
}

.titleBottom {
    margin: 0;
    font-weight: bold;
    font-size: 1.3rem;
    color: #333;
}